<html>

<body>
	<p>対象のURLを以下にコピペしてください</p>
	<form method="post" action="comp">
		<input type="text" name="url"></input>
		<input type="submit" name="送信"></input>
	</form>
	<br>
		今投げたURLです：
		<%= link %>
	<br>
	<br>
	<div id="result">
		<code>
			<%= result %>
		</code>
	</div>
</body>

</html>